body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1{
    text-align: center;

}

.card{
    display: flex;
    flex-direction: column;
}

.input{
    display: flex;
    flex-direction: column;
}

label{
    margin-bottom: 10px;
}

.cal{
    background-color: green;
    align-self: center;
    width: fit-content;
}